.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: min(90%, 1400px);
  margin: 0 auto;
}

header.header {
  text-align: center;
  padding-top: 0.5rem;
}

header.header h1 {
  font-size: clamp(1.5rem, calc(1.5rem+2vw), 3rem);
}

.copied-message {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000cc;
  color: #fff;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 4px;
  animation: fadeOut 2s ease forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.shadow {
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.5);
}
