.container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0 1rem;
  height: 100%;
}

header.header {
  text-align: center;
  padding-top: 0.5rem;
}

header.header h1 {
  font-size: clamp(1.5rem, calc(1.5rem+2vw), 3rem);
}
.contents {
  margin-top: 1rem;
  position: relative;
}

.copied-message {
  position: absolute;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000cc;
  color: #fff;
  font-size: 0.8rem;
  padding: 4px 8px;
  border-radius: 4px;
  animation: fadeOut 2s ease forwards;
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
