.cards {
  overflow: auto;
  height: 340px;
  display: grid;
  grid-auto-rows: 10rem;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  gap: 0.75rem 1rem;
}
.cards .card {
  display: grid;
  grid-template-rows: 70% 30%;
  background: #fff;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
}
.card:focus,
.card:hover {
  transform: scale(1.03);
  outline: 2px solid #555;
  outline-offset: 4px;
}

.cards .card header.color-box {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  width: 100%;
}
.cards .card span.text {
  display: block;
  font-weight: 500;
  font-size: 1.1rem;
  color: #444;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  .cards {
    padding: 0.5rem;
    gap: 1.75rem;

    padding-bottom: 3rem;
  }
}
