.profile {
  display: flex;
  align-items: center;
  gap: clamp(0.4rem, 0.8vw, 1rem);
}

.profile .avatar {
  border: 2px solid var(--color-primary);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  aspect-ratio: 1/1;
}

.profile small {
  display: none;
}

.profile .avatar img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .profile small {
    display: block;
  }
}
